[submodule "laravel-8-foodmarket-api"]
	path = laravel-8-foodmarket-api
	url = git@github.com:abuabdirohman4/laravel-8-foodmartket-api.git
	branch = develop
[submodule "laravel-8-my-blog"]
	path = laravel-8-my-blog
	url = git@github.com:abuabdirohman4/laravel-8-my-blog.git
	branch = main
[submodule "laravel-9-nomads-travel-web"]
	path = laravel-9-nomads-travel-web
	url = git@github.com:abuabdirohman4/laravel-9-nomads-travel-web.git
	branch = master
[submodule "laravel-8-rest-api"]
	path = laravel-8-rest-api
	url = git@github.com:abuabdirohman4/laravel-8-rest-api.git
	branch = develop
[submodule "laravel-9-stream-movie-online"]
	path = laravel-9-stream-movie-online
	url = git@github.com:abuabdirohman4/laravel-9-stream-movie-online.git
	branch = develop
[submodule "laravel-9-livewire"]
	path = laravel-9-livewire
	url = git@github.com:abuabdirohman4/laravel-9-livewire.git
	branch = master
[submodule "laravel-9-role-permission"]
	path = laravel-9-role-permission
	url = git@github.com:abuabdirohman4/laravel-9-role-permission.git
	branch = master
[submodule "laravel-9-filament"]
	path = laravel-9-filament
	url = git@github.com:abuabdirohman4/laravel-9-filament.git
